@import url(https://db.onlinewebfonts.com/c/aaeb1c5d023f1ee36c8b4e866d66d2b8?family=New+Lincoln+Gothic+BT+W03+Md);

body {
    background-color: rgb(20, 20, 20);
    text-align: center;
    background-image: url("/static/assets/amoled.jpg");
    background-blend-mode:overlay;
  }
  
  h1 {
    color: rgb(222, 222, 222);
    font-family: "New Lincoln Gothic BT W03 Md";
    text-align: center;
    font-size: 60px;
    margin: -1px;
  }

  h2 {
    color: rgb(222, 222, 222);
    font-family: "New Lincoln Gothic BT W03 Md";
    text-align: center;
    margin: 8px;
  }
  
  h3 {
    color: rgb(140, 140, 140);
    font-family: "New Lincoln Gothic BT W03 Md";
    text-align: center;
    margin: 10px;
  }

  p {
    color: rgb(222, 222, 222);
    font-family: "New Lincoln Gothic BT W03 Md";
    text-align: center;
    font-size: 30px;
    margin: 2px;
  }

  pre {
    color: rgb(222, 222, 222);
    text-align: center;
    font-size: 15px;
  }
  
  label {
    color: rgb(222, 222, 222);
    font-family: "New Lincoln Gothic BT W03 Md";
    text-align: center;
  }

  input {
    color: rgb(186, 186, 186);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: "New Lincoln Gothic BT W03 Md";
    padding: 5px 5px;
    border-radius: 10px;
    margin: 5px;
  }

  .green {
    color: rgb(130,191,86);
  }

  .blue {
    color: rgb(42,106,138)
  }

  .input-container {
    display: flex;
    justify-content: center;
}

.checkbox-container {
    position: absolute;
    left: 56.7%;
    top: 30%;
    transform: translateX(-50%);
}

  #input_value {
    display:block;
    margin: 0 auto;
}