<!DOCTYPE html>
<html>
<head>
    <title>Zentec Price Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <pre>
         ______          _              _____      _             _____      _            _       _             
        |___  /         | |            |  __ \    (_)           / ____|    | |          | |     | |            
           / / ___ _ __ | |_ ___  ___  | |__) | __ _  ___ ___  | |     __ _| | ___ _   _| | __ _| |_ ___  _ __ 
          / / / _ \ '_ \| __/ _ \/ __| |  ___/ '__| |/ __/ _ \ | |    / _` | |/ __| | | | |/ _` | __/ _ \| '__|
         / /_|  __/ | | | ||  __/ (__  | |   | |  | | (_|  __/ | |___| (_| | | (__| |_| | | (_| | || (_) | |   
        /_____\___|_| |_|\__\___|\___| |_|   |_|  |_|\___\___|  \_____\__,_|_|\___|\__,_|_|\__,_|\__\___/|_|   
                                                                                                               
                                                                                                               </pre>
    <p>Enter a value</p>
    <form method="POST">
        <input type="text" name="number" id="number" required>
        <input type="submit" value="Enter">
    </form>
    {% if result %}
        <h1>{{ result }}</h1>
    {% endif %}
</body>
</html>
