<!DOCTYPE html>
<html>
<head>
    <title>Zentec Price Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel ="icon" href = "/static/assets/zentec_z_icon.png" type = "image/x-icon">
</head>
<body>
    <a href="https://zentec.co.nz"><img src="/static/assets/zentec_logo_trans.png" alt="Transparent Logo"></a>
    <h1> <span class="green">Price </span><span class="blue">Calculator</span></h1>
    <form method="POST" autocomplete="off">
        <div class="input-container">
            <input type="text" name="input_value" id="input_value" required autofocus>
            <input type="checkbox" id="gst" name="gst">
            <label for="gst">Inc GST</label>
        </div>
        <input type="submit" id="submit" value="Calculate">
    </form>
    <h2>Results:</h2>
    <div class="output_container">
        <p>Cost Price Excluding GST: ${{ costPriceExclGst }}</p>
        <p>Cost Price Including GST: ${{ costPriceInclGst }}<p><br>
        <p>Selling Price Excluding: ${{ sellPriceExclGst }}</p>
        <p>Selling Price Including: ${{ sellPriceInclGst }}</p><br>
        <h3>Margin Excluding GST: ${{ marginExclGst }}</h3>
        <h3>Margin Including GST: ${{ marginInclGst }}</h3>
        <h3>Margin Percentage: {{ marginPercentage }}%</h3>
    </div>

</body>
</html>
